/* Algemene stijlen */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Verander van center naar flex-start voor betere uitlijning */
  min-height: 100vh;
}

.container {
  text-align: center;
  background-color: white;
  padding: 30px; /* Verlaagde padding voor minder ruimte aan de zijkanten */
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 1200px;
  margin: 10px; /* Verminderde marge rondom de container */
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Zet alles naar boven */
  align-items: center;
}

/* Logo - Verkorte marge om de titel dichterbij te krijgen */
.logo {
  width: 400px;
  height: auto;
  margin-bottom: 20px; /* Verminder marge naar beneden */
}

h1 {
  font-size: 4rem;
  margin-bottom: 10px; /* Verlaagde marge onder de titel */
  color: #963E56;
  font-weight: 600;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 20px; /* Verlaagde marge onder de ondertitel */
  color: #D9A347;
  font-weight: 400;
}

/* Verhoog de vertaling naar het Arabisch en verklein de marge */
h2 small {
  display: block; 
  font-size: 1.8rem; /* Kleinere tekstgrootte voor de vertaling */
  margin-top: 5px; /* Kleinere ruimte tussen de twee teksten */
  direction: rtl; /* Zorgt voor de juiste richting van rechts naar links */
}

.status-container {
  display: flex;
  gap: 30px; /* Verminderde ruimte tussen de statussen */
  justify-content: center;
  margin-top: 20px; /* Verminderde marge naar boven voor de status sectie */
}

.status {
  text-align: center;
}

.light {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: grey;
  margin: 10px auto; /* Verminderde ruimte rondom de lichten */
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.back-button {
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  background-color: #963E56;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 20px; /* Verminderde ruimte voor de terugknop */
  text-decoration: none;
}

/* Responsieve aanpassingen voor kleinere schermen */
@media (max-width: 768px) {
  .container {
    padding: 20px;
    min-height: 90vh;
    display: flex;
    justify-content: flex-start; /* Verplaats naar boven */
    align-items: center;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  button {
    padding: 15px 30px;
    font-size: 1.2rem;
    width: 90%;
  }

  .logo {
    width: 300px;
  }

  .light {
    width: 100px;
    height: 100px;
  }
}
